<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Spotify Node App</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>

        <main>
            <h1>Node App</h1>
            <a href="/login">Login</a> <br />
            <a href="/api/youtube/myplaylists">Get Playlists</a> <br />
            <a href="/api/youtube/channels" >Get Channels</a> <br />
            <a href="/api/youtube/likedVideos">Get Liked Videos</a> <br />
            <a href="/api/youtube/listLiked" >List liked videos' download links</a>
        </main>

    </body>
</html>
